<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style/style.css">
    </head>
    <body>
        <nav>
            <a href="/exam/index">Index</a>
            <a href="/exam/visa">Visa</a>
            <a href="/exam/search">Search</a>
        </nav>