<%- include("./../partials/header.ejs") %>
        
        <h1>About</h1>
        <h3>Grupmedlemar:</h3>
        <p>Mathilda Rönnqvist, marq23</p>
        <p>Felix Cenusa, fece23</p>
<%- include("./../partials/footer.ejs") %>
