<!doctype html>
<html lang="en">
    <head>
        <title>$ to Adam</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./../../style/style.css">
    </head>
    <body>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/today">Today</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bank">Bank</a></li>
            <li><a href="/bank/index">Bank Index</a></li>
            <li><a href="/bank/move-to-adam">Permanently Borrow Funds</a></li>
            <li><a href="/bank/balance">Bank Balance</a></li>
        </ul>

<h3>Welcome to the bank! These buttons tell you what you can do!</h3>
<button class="button button1"><a href="/bank/balance"><h3>Go to balance overview</h3></a></button>
<button class="button button1"><a href="/bank/move-to-adam"><h3>Permanently borrow funds from Eva to Adam >:)</h3></a></button>


</body>
</html>
