<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bank</title>
        <meta charset="utf-8">
        <link   rel="stylesheet" herf="./style/style.css">
    </head>
    <body>
        <nav>
            <a href="/index">Start</a> |
            <a href="/balance">Balance</a> |
            <a href="/move-to-adam">Give Adam money</a> |
            <a href="/create">Create</a>
        </nav>