<!doctype html>
<html lang="en">
    <head>
        <title>BANK</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style/style.css">
    </head>
    <body>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/today">Today</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bank">Bank</a></li>
            <li><a href="/bank/index">Bank Index</a></li>
            <li><a href="/bank/move-to-adam">Permanently Borrow Funds</a></li>
            <li><a href="/bank/balance">Bank Balance</a></li>

        </ul>

<h2>Welcome to the BANK fellow pleb!</h2>
<button class="button button1"><a href="/bank/index"><h2>Go to the Bank Index to see what you can do</h2></a></button>

<!-- TR is table row -->
<!-- TH is table header -->
<!-- TD is table data, so the cell itself -->

<%- include('./../partials/footer.ejs') %> 


