
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eshop 2.0</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style/style.css">
    </head>
    <body>
        <ul>
            <li><a href="/index">Start</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/add_produkt"> Add Product</a></li>
            <li><a href="/customer"> Customers</a></li>
            <li><a href="/order"> Order</a></li>
        </ul>